body {
    background-image: url("../images/g8.jpg");
    background-size: cover;
    position: relative;
}

.list-group { /*use bs media query to disable on mobile"\*/
    animation-name: list-group;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

@keyframes list-group {
    0%   {opacity: 0; backdrop-filter:blur(33px); margin-top:100px;}
    100% {opacity: 1; backdrop-filter:blur(33px); margin-top:0px;}
}

.content {
    animation: content-delay;
    opacity: 0;
    animation-delay: .7s;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes content-delay {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.blur {
    backdrop-filter: blur(33px);
    background: #423c5a80;
}

.blur-light {
    backdrop-filter: blur(33px);
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
    background-color: #ffffff7d;
}

.text-light {
    color: #e9ecef !important;
}

.btn:focus {
    box-shadow: none !important;
}

.btn:focus-visible {
    outline: 1px solid #FFF !important;
}

.box-shadow {
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
}

.list-group {
    border-radius: .6rem !important;
}

.rounded-bottom {
    border-bottom-left-radius: .6rem !important;
    border-bottom-right-radius: .6rem !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .content {
        /*width: 70vw;*/
    }

    .nav {
        animation-name: list-group-1;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
    }

    @keyframes list-group-1 {
        0%   {opacity: 0; backdrop-filter:blur(33px); margin-top:100px;}
        100% {opacity: 1; backdrop-filter:blur(33px); margin-top:0px;}
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .content {
        /*width: 40vw;*/
    }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}

/*.opacity-0 {
    opacity: 0;
}*/